DDPG/__pycache__/
Linear/__pycache__/
pycache__/
nohup.out
supervisado/
results_ddpg/
results_ppo/
results_super/
resultsRL/
supervisado/
__pycache__/
*.csv
best
*.pth
*pth
MyDoc.pdf
noise_test.py
.DS_Store
Linear/.DS_Store
dron/*
params_correo.py
depricated_files/*.py

