DDPG/__pycache__/
Linear/__pycache__/
pycache__/
nohup.out
supervisado/
results_ddpg/
results_ppo/
results_super/
resultsRL/
supervisado/
__pycache__/
*.csv
best
*.pth
*pth
MyDoc.pdf
noise_test.py
.DS_Store
Linear/.DS_Store
dron/*
params_correo.py
depricated_files/
GCL/sample_rollouts/
Linear/memory_transformed_x_u.npz
Linear/sample_rollouts/
credentials.txt
results_gcl/
ILQR/sample_rollouts/
results_ilqr/
GPS/sample_rollouts/
results_mpc/
results_gps/
results_online/
results_offline/
results_sims/

