colorama==0.4.6
gmpy2==2.1.2
gym==0.26.1
ilqr==0.2.0
ipython==8.22.2
munkres==1.1.4
mycolorpy==1.5.1
pickleshare==0.7.5
pip-chill==1.0.3
pytube==15.0.0
pyyaml==6.0.1
requests==2.32.3
seaborn==0.13.2
shapely==2.0.6
statsmodels==0.14.1
torch==2.2.2
tqdm==4.66.2
unicodedata2==15.1.0
